<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Money_4._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Auto_Money_4._0.My.MySettings>
            <setting name="Timer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="Money_Total" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Procces" serializeAs="String">
                <value>refund_[unknowncheats.me]_</value>
            </setting>
            <setting name="Ignore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Money_limit" serializeAs="String">
                <value>750000</value>
            </setting>
            <setting name="RadomTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomTimer_time_Min" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Randomtimer_time_Max" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Anti_afk_key" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="Anti_afk_Time" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Money_Limit_toggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer_option" serializeAs="String">
                <value>Fixed Timer</value>
            </setting>
            <setting name="Overlay" serializeAs="String">
                <value>False</value>
            </setting>
        </Auto_Money_4._0.My.MySettings>
    </userSettings>
</configuration>